<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
</head>

<body>

  <h1 class="site-title">Matthew Monaco ▪ Composer</h1>

  <nav class="navbar">
    <div class="nav-inner">
      <a class="nav-link" href="/">Home</a>
      <span class="separator">|</span>
      <a class="nav-link" href="/about">About</a>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

</body>
</html>
